<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %><% helpers.setHtmlTitle(orgName + " - " + appjet.config.customBrandingName); %>
<% helpers.includeJQuery() %>
<% helpers.includeJs("etherpad.js") %>
<% helpers.includeCss("pro/pro-home.css"); %>
<% helpers.includeCss("pro/padlist.css"); %>

<div class="fpcontent">



  <div id="homeright">
    <a href="/ep/pad/newpad" class="bigbuttonpro">Create a new pad
    </a>

    <% if (livePads.length > 0) { %>
      <div id="live-pads">
        <h3>Live Pads (currently being edited)</h3>
        <div id="listwrap">
          <%= renderLivePads() %>
        </div>
      </div>
    <% } %>

    <% if (recentPads.length > 0) { %>
      <div id="recent-pads">
        <h3>Your Recent Pads:</h3>
        <div id="listwrap">
          <%= renderRecentPads() %>
        </div>
        <a id="viewall" href="/ep/padlist/">View all pads...</a>
        <div style="clear:both"><!-- --></div>
      </div>
    <% } %>

  </div>

<div id="welcome-msg">
    Welcome <%= account.fullName %>
    <% if (account.isAdmin) { %>(Administrator)<% } %>
    <br/>
    <br/>
  </div>



  <div id="homeleft">
    <div id="homeleft-title">
      Latest News
    </div>

    <div class="news-time-sep">
      <div class="date">
        Oct 10th, 2010
      </div>
      <div class="line"><!-- --></div>
    </div>

    <div class="news-item">
      <p>Welcome to your <%=appjet.config.customBrandingName%> Account! 

      <p>We hope you enjoy <%=appjet.config.customBrandingName%></p>

      <p>Sincerely,</p>

      <p>John McLear<br/>
	Apple smasher.  The <a href="http://etherpad.org">Etherpad Foundation</a>
      </p>
    </div>

  </div>


  </div><!-- /homeleft -->

  <%= helpers.clearFloats() %>

  <% if (isPNE) { %>
    <div id="version-info"
     style="margin-top: 2em; font-size: 76%; color: #444; text-align: right;">
     <br/>
      EtherPad Private Network Edition (PNE)
      Version <%= pneVersion %><br/>

      <% if (isEvaluation && evalExpDate) { %>
        <br/>
        <span style="color: #c22;">EVALUATION EDITION: Expires <%= evalExpDate.toString()
        %>.<br/>
      <% } %>
    </div>
  <% } %>

</div>

