
<%
	//helpers.includeJs("jquery-1.3.2.js");
	//helpers.includeJs("plugins/padHierarchy/jquerycssmenu.js");
	helpers.includeCss("plugins/padHierarchy/ubuntu.css");
	helpers.setHtmlTitle(selected_pad.id);
%>
<% template.define('body', function() { var ejs_data=''; %>
<div id="wrapper">
<div id="navbar">
	<a id="ubuntu" href="/">Pads</a>
	<div id="current_section_menu" class="menu">
		<ul>
	 	<%= grouped_pad_list %>
		</ul>
	</div>
 </div>

 <div id="main">
 <h1> <%=selected_pad.id%></h1>
 <a class="edit" href="<%=selected_pad.path%>/+edit">edit <%=selected_pad.id%></a>
 	 <div id="overview">
		 <%=selected_pad.html%> 
	 </div>
 	<p>This group has <%=pads.children.length%> children</p>
 	<% 
 	for (var e in pads.children){ 
		var pad = pads.children[e];
		
		if(pad){  %>
		<div class="pad_summary">
			<a href="#<%=pad.id%>">
				<% if(pad.meta.images){ %>
				 	<img src="<%=pad.meta.images[0]%>" width="100px"/>
				<% } %>
			 	<%= pad.shortName %>
		 	</a>
 		</div>
	 <% }} %>
	
	<%
 	for (var e in pads.children){ 
		var pad = pads.children[e];
		if(pad){  %>
		<div class="pad_detail" id="<%=pad.id%>">
			<h2><%=pad.shortName%></h2>
			<a href='<%= pad.path %>/+edit' class="edit">
				edit <%=  pad.shortName %>
			</a>
			<%= pad.html %>
			<a href="<%= pad.path %>">[more]</a>
		</div> 
	 <% }} %>		
	</div>
 </div>
 </div>
 <div id="footer">Powered by <a href="http://etherpad.com" target="_blank">Etherpad</a></div>
 <% return ejs_data; }); %>
