<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %>
<%
 helpers.setHtmlTitle("Browse tags");
 helpers.setBodyId("padbody");
 helpers.addBodyClass("limwidth nonpropad nonprouser");
 helpers.includeCss("pad2_ejs.css");
 helpers.setRobotsPolicy({index: false, follow: false})
 helpers.includeJQuery();
 helpers.includeCometJs();
 helpers.includeJs("json2.js");
 helpers.addToHead('\n<style type="text/css" title="dynamicsyntax"></style>\n');

 function inArray(item, arr) {
   for (var i = 0; i < arr.length; i++)
     if (arr[i] == item)
       return true;
   return false;
 }
%>

<div id="padpage">
 <div id="padtop">
  <div id="topbar" style="margin: 7px; margin-top: 0px;">
   <div id="topbarleft"><!-- --></div>
    <div id="topbarright"><!-- --></div>
    <div id="topbarcenter"><a href="/" id="topbaretherpad">EtherPad</a></div>
    <% if (isProAccountHolder) { %>
     <div id="accountnav"><%= toHTML(account.email) %><a href="/ep/account/sign-out">(sign out)</a></div>
    <% } else if (isPro) { %>
     <div id="accountnav"><a href="<%= signinUrl %>">sign in</a></div>
    <% } %>
   </div>
  </div>
  <div id="docbar" class="docbar-public">
   <div id="docbarleft"><!-- --></div>
   <div title="Browse pads by tag" id="docbarpadtitle"><span>Browse tags</span></div>

   <div id="docbaroptions-outer"><a href="javascript:void(0)" id="docbaroptions">Pad Options</a></div>
   <div id="docbarsavedrevs-outer"><a href="javascript:void(0)" id="docbarsavedrevs">Saved revisions</a></div>
   <div id="docbarimpexp-outer"><a href="javascript:void(0)" id="docbarimpexp">Import/Export</a></div>
   <div id="docbarslider-outer"><a target="_blank" href="/ep/pad/view/xx/latest" id="docbarslider">Time Slider</a></div>

  </div>
 </div>
 <div id="padmain">

  <div id="padsidebar">
    <div id="padusers">
     XYZZY
    </div>

    <div id="hdraggie"><!-- --></div>

    <div id="padchat">NANANANA</div>
  </div> <!-- /padsidebar -->
  
  <div id="padeditor">
    <div id="editbar" class="enabledtoolbar">
      <div id="editbarleft"><!-- --></div>
      <div id="editbarright"><!-- --></div>      
      
      <div id="editbarinner">
        <a unselectable="on" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('bold'));" class="editbarbutton bold" title="Bold (ctrl-B)">&nbsp;</a>
        <a unselectable="on" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('italic'));" class="editbarbutton italic" title="Italics (ctrl-I)">&nbsp;</a>
        <a unselectable="on" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('underline'));" class="editbarbutton underline" title="Underline (ctrl-U)">&nbsp;</a>
        <a unselectable="on" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('strikethrough'));" class="editbarbutton strikethrough" title="Strikethrough">&nbsp;</a>
        <a unselectable="on" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('clearauthorship'));" class="editbarbutton clearauthorship" title="Clear Authorship Colors">&nbsp;</a>
        <a unselectable="on" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('undo'));" class="editbarbutton undo" title="Undo (ctrl-Z)">&nbsp;</a>
        <a unselectable="on" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('redo'));" class="editbarbutton redo" title="Redo (ctrl-Y)">&nbsp;</a>
        <a unselectable="on" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('insertunorderedlist'));" class="editbarbutton insertunorderedlist" title="Toggle Bullet List">&nbsp;</a>
        <a unselectable="on" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('indent'));" class="editbarbutton indent" title="Indent List">&nbsp;</a>
        <a unselectable="on" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('outdent'));" class="editbarbutton outdent" title="Unindent List">&nbsp;</a>
        <a unselectable="on" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('save'));" class="editbarbutton save" title="Save Revision">&nbsp;</a>
      </div>
    </div>
    <div style="height: 268px;" id="editorcontainerbox">
      <div id="editorcontainer" style="padding:5pt; height: 600pt;">
       <h1>Current query</h1>
       <% if (tags.length == 0 && antiTags.length == 0) { %>
        &lt; No current query; please select some tags below to search for pads &gt;
       <% } else { %>
	<% for (i = 0; i < tags.length; i++) { %>
	 <a href="/ep/tag/?query=<%= tagsToQuery(tags.filter(function (tag) { return tag != tags[i]}), antiTags) %>" class="tag" title="<%= tags[i] %> matches"><%= tags[i] %></a>
	<% } %>
	<% for (i = 0; i < antiTags.length; i++) { %>
	 <a href="/ep/tag/?query=<%= tagsToQuery(tags, antiTags.filter(function (tag) { return tag != antiTags[i]})) %>" class="tag" title="<%= antiTags[i] %> matches">!<%= antiTags[i] %></a>
	<% } %>
       <% } %>
       <h1>Refine your query</h1>
       <h2>Search for pads that have a tag</h2>
       <% for (i = 0; i < newTags.length; i++) { %>
        <a href="/ep/tag/?query=<%= tagsToQuery(tags.concat([newTags[i].tagname]),antiTags) %>" class="tag" title="<%= newTags[i].matches %> matches"><%= newTags[i].tagname %></a>
       <% } %>

       <h2>Search for pads that <em>doesn't</em> have a tag</h2>
       <% for (i = 0; i < newTags.length; i++) { %>
        <a href="/ep/tag/?query=<%= tagsToQuery(tags,antiTags.concat([newTags[i].tagname])) %>" class="anti_tag" title="<%= newTags[i].antimatches %> matches"><%= newTags[i].tagname %></a>
       <% } %>

       <h1>Matching pads</h1>
       <dl>
        <% for (i = 0; i < matchingPads.length; i++) { %>
        <%
             var matchingPadId = matchingPads[i].ID;
             var matchingPadUrl = matchingPadId;
             if (!inArray('writable', matchingPads[i].TAGS)) {
               matchingPadId = padIdToReadonly(matchingPads[i].ID);
               matchingPadUrl = 'ep/pad/view/' + matchingPadId + '/latest';
             }
        %>
         <dt><a href="/<%= matchingPadUrl %>"><%= matchingPadId %></a><dt>
         <dd>
	  <% for (j = 0; j < matchingPads[i].TAGS.length; j++) { %>
	   <a href="/ep/tag/?query=<%= tagsToQuery(tags.filter(function (tag) { return tag != matchingPads[i].TAGS[j]}), antiTags) %>" class="tag" title="<%= matchingPads[i].TAGS[j] %> matches"><%= matchingPads[i].TAGS[j] %></a>
	  <% } %>
         </dd>
        <% } %>
       </dl>
      </div>
    </div>
  </div><!-- /padeditor -->

  <div id="bottomarea">    
    <div id="widthprefcheck" class="widthprefunchecked"><!-- --></div>
    <div id="sidebarcheck" class="sidebarchecked"><!-- --></div>
  </div>
 </div>
</div>
