<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %>
<%
 template.inherit('admin/page.ejs');
 helpers.setHtmlTitle(appjet.config.customBrandingName +": Manage plugins");
 plugin_registry = plugins.loadPlugins();
%>

<% template.define('docBarTitle', function() { var ejs_data=''; %>
  <td id="docbarpadtitle"><span>Plugin manager</span></td>
<% return ejs_data; }); %>

<% template.define('docBarItems', function() { var ejs_data=''; %>
  <%: plugins.callHookStr('docbarItemsAdmin', {}, '', '<td class="docbarbutton">', '</td>'); %>
  <%: plugins.callHookStr('docbarItemsPluginManager', {}, '', '<td class="docbarbutton">', '</td>'); %>
<% return ejs_data; }); %>

<% template.define('contentArea', function() { var ejs_data=''; %>
  <div id="editorcontainer">
   <table>
    <tr>
     <th>Module name</th>
    <th>Description</th>
     <th>Status</th>
     <th>Action</th>
    </tr>
    <%
      var plugins = [];
      for (var plugin in plugin_registry.pluginModules) {
        plugins.push(plugin);
      }
      plugins = plugins.sort();
    %>
    <%
      for (var i = 0; i < plugins.length; i++) {
        var plugin = plugins[i];
    %>
     <tr>
<td style="font-weight:bold;">
       <%= plugin %>

<!--
      <td class="mousover_parent">
       <%= plugin %>
       <div class="mouseover_child">
	<%= plugin_registry.pluginModules[plugin].description %>
-->
       </div>
      </td>
	<td>
        <%= plugin_registry.pluginModules[plugin].description %>
      </td>

       <% if (plugin_registry.plugins[plugin] !== undefined) { %>
      <td class="installed">
	Installed
      </td>

       <% } else { %>
      <td class="notinstalled">
	Not installed
      </td>
       <% } %>
      <td>
       <% if (plugin_registry.plugins[plugin] !== undefined) { %>
	<a href="/ep/admin/pluginmanager/?plugin=<%= plugin %>&action=uninstall">Uninstall</a>
	<a href="/ep/admin/pluginmanager/?plugin=<%= plugin %>&action=reinstall">Reinstall</a>
	<% if (plugin_registry.plugins[plugin].configLink !== undefined) { %>
	 <a href="<%= plugin_registry.plugins[plugin].configLink %>">Configure</a>
	<% } %>
       <% } else { %>
	<a href="/ep/admin/pluginmanager/?plugin=<%= plugin %>&action=install">Install</a>
       <% } %>
      </td>
     </tr>
    <% } %>
   </table>
  </div>
<% return ejs_data; }); %>
