 <%
// template.inherit('page.ejs');
 %>
 
 <h1> <%=section%></h1>
 <% if(summary){ %>
	 <div id="overview">
		 <%=summary%> [<a href="/<%=summary_pad_id%>">Edit <%=summary_pad_id%></a>]
	 </div>
 <% }else{ %>
 	 [<a href="/<%=summary_pad_id%>">Add summary information (<%=summary_pad_id%>)</a>]
 <% } %>
 <h2>Specs</h2>
 <%= pads.length %>
 <% for(var i=0;i< pads.length;i++){
 	var pad = pads[i];
	 %>
	<p>
		
		<a href='<%= groupBasedId(pad.padId) %>'>
			<% if(pad.images){ %>
			<img src="<%=pad.images[0]%>" width="100px"/>
			<% } %>
			<%=  shortName(pad.padId) %>
		</a> 
	</p>
 <%}%>
 
 
 