<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %>
<%
 helpers.setHtmlTitle("EtherPad: Manage plugins");
/*
 helpers.includeCss("plugins/twitterStyleTags/tagBrowser.css");
 helpers.includeCss("plugins/twitterStyleTags/pad.css"); */
 helpers.setBodyId("padbody");
 helpers.addBodyClass("limwidth nonpropad nonprouser");
 helpers.includeCss("pad2_ejs.css");
 helpers.includeJs("undo-xpopup.js");
 helpers.includeCometJs();
 helpers.includeJQuery();
 helpers.includeJs("json2.js");
 helpers.includeJs("colorutils.js");
 helpers.includeJs("ace.js");
 helpers.includeJs("collab_client.js");
 helpers.includeJs("draggable.js");
 helpers.includeJs("pad_utils.js");
 helpers.includeJs("pad_cookie.js");
 helpers.includeJs("pad_editor.js");
 helpers.includeJs("pad_userlist.js");
 helpers.includeJs("pad_editbar.js");
 helpers.includeJs("pad_chat.js");
 helpers.includeJs("pad_docbar.js");
 helpers.includeJs("pad_impexp.js");
 helpers.includeJs("pad_savedrevs.js");
 helpers.includeJs("pad_connectionstatus.js");
 helpers.includeJs("pad_modals.js");
 helpers.includeJs("pad2.js");
 helpers.suppressGA();
 helpers.setRobotsPolicy({index: false, follow: false});

 function inArray(item, arr) {
   for (var i = 0; i < arr.length; i++)
     if (arr[i] == item)
       return true;
   return false;
 }
%>

<div id="padpage">
 <div id="padtop">
  <div id="topbar" style="margin: 7px; margin-top: 0px;">
   <div id="topbarleft"><!-- --></div>
   <div id="topbarright"><!-- --></div>
   <div id="topbarcenter"><a href="/" id="topbaretherpad">EtherPad</a></div>
   <% if (isProAccountHolder) { %>
    <div id="accountnav"><%= toHTML(account.email) %><a href="/ep/account/sign-out">(sign out)</a></div>
   <% } else if (isPro) { %>
    <div id="accountnav"><a href="<%= signinUrl %>">sign in</a></div>
   <% } %>
  </div>
  <div id="docbar" class="docbar-public">
   <div id="docbarleft"><!-- --></div>
   <div title="Manage plugins" id="docbarpadtitle"><span>Manage plugins</span></div>

   <div id="docbaroptions-outer"><a href="javascript:void(0)" id="docbaroptions">Pad Options</a></div>
   <div id="docbarsavedrevs-outer"><a href="javascript:void(0)" id="docbarsavedrevs">Saved revisions</a></div>
   <div id="docbarimpexp-outer"><a href="javascript:void(0)" id="docbarimpexp">Import/Export</a></div>
   <div id="docbarslider-outer"><a target="_blank" href="/ep/pad/view/xx/latest" id="docbarslider">Time Slider</a></div>

  </div>
 </div>
 <div id="padmain">

  <div id="padsidebar">
    <div id="padusers">
    </div>

    <div id="hdraggie"><!-- --></div>

    <div id="padchat"></div>
  </div> <!-- /padsidebar -->
  
  <div id="padeditor">
    <div id="editbar" class="enabledtoolbar">
      <div id="editbarleft"><!-- --></div>
      <div id="editbarright"><!-- --></div>      
      
      <div id="editbarinner">
      </div>
    </div>
    <div id="editorcontainerbox">
      <div id="editorcontainer">
       <h1>Plugin manager</h1>
       <table>
        <tr>
         <th>Module name</th>
         <th>Status</th>
         <th></th>
        </tr>
        <% for (var plugin in plugins.pluginModules) { %>
         <tr>
          <td><%= plugins.pluginModules[plugin].description %></td>
          <td>
           <% if (plugins.plugins[plugin] !== undefined) { %>
            Installed
           <% } else { %>
            Not installed
           <% } %>
          </td>
          <td>
           <% if (plugins.plugins[plugin] !== undefined) { %>
            <a href="/ep/admin/pluginmanager/?plugin=<%= plugin %>&action=uninstall">Uninstall</a>
            <a href="/ep/admin/pluginmanager/?plugin=<%= plugin %>&action=reinstall">Reinstall</a>
           <% } else { %>
            <a href="/ep/admin/pluginmanager/?plugin=<%= plugin %>&action=install">Install</a>
           <% } %>
          </td>
         </tr>
        <% } %>
       </table>
      </div>
    </div>
  </div><!-- /padeditor -->

  <div id="bottomarea">    
    <div id="widthprefcheck" class="widthprefunchecked"><!-- --></div>
    <div id="sidebarcheck" class="sidebarchecked"><!-- --></div>
  </div>
 </div>
</div>
